.box-contact .row {
  margin-bottom: 7px;
}

.loading {
  width: 25px;
  height: 25px;
  background: url('../img/loading.gif');
}

.contacts a.contact-name {
  color: #444;
}

.list-contact-info {
  margin-bottom: 15px;
}

.list-contact-info li {
  margin-bottom: 5px;
}

@media(max-width: 768px) {
  section.contacts .box-tools {
    position: static;
    right: 0;
    top: 0;
  }
}

@media(min-width: 546px) and (max-width: 768px) {
  section.contacts .box-tools {
    padding-top: 15px;
  }
  section.contacts .search .form-control,
  section.contacts .search .select2-container {
    max-width: 150px;
  }
}

@media(min-width: 768px) {
  section.contacts .search .form-control,
  section.contacts .search .select2-container {
    max-width: 150px;
  }
}
