<?php if(false): ?>
<div class="user-panel">
    <div class="pull-left image">
        <?php echo $this->Html->image('user2-160x160.jpg', array('class' => 'img-circle', 'alt' => 'User Image')); ?>
    </div>
    <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
<?php endif; ?>
<div class="user-panel">
  <?php echo $this->Html->image('cerealista_moreira_logo.png', ['class' => 'img-responsive']); ?>
</div>
